<%- include('partials/_header') -%>


<body>

  <!-- Navigation -->
  <%- include('partials/_navigation') -%>


  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1><%=blog.name %> </h1>
            <h2 class="subheading"><%=blog.text %> </h2>
            <span class="meta">Canberk AKAR
              <%=blog.dateCreted.toDateString()%></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-10">
          <%=blog.text %>
        </div>
        <div class="col-2">
          <div class="row mb-2">
            <a  href="/blogPage/editpost/<%=blog._id%>"  class="btn btn-primary" >Update</a>
          </div>
          <div class="row">
            <a  href="/deletePhoto/<%=blog._id%>?_method=DELETE" class="btn btn-danger">Delete</a>

          </div>

        </div>
      </div>
    </div>
  </article>

  <hr>

  <%- include('partials/_footer') -%>


  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/js/clean-blog.min.js"></script>

</body>

</html>
